* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
body {
    background-image: url("/images/66139.jpg");
    background-attachment: fixed;
    margin: 0;
    margin-bottom: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.pagPrincipal {
    color: white;
    position: relative;
}

.personalInfo {
  display: flex;
  flex-wrap: wrap;
  color: black;
  background-color: white;
  opacity: 0.4;
  margin-top: 550px;
}
.infoDiego {
  width: 100%;
  padding: 200px 600px 200px 600px;
  justify-content: center;
}
.navbar {
    list-style: none;
    margin-left:280px;
    margin-right:280px;
}

.yo {
    position: relative;
    padding: 10px 10px 10px 20px;
    line-height : 35px;
    font-size: 35px;
    margin: 350px 0px -5px 200px;
}

.nombre {
    font-size: 1.7em;
}

footer {
    background-color: black;
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
  }


  nav {
    padding: 5px 20px;
  }
  ul {
    list-style-type: none;
  }
  a {
    color: white;
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
  .logo a:hover {
    text-decoration: none;
  }
  .menu li {
    font-size: 20px;
    padding: 15px 5px;
    white-space: nowrap;
  }
  .logo a,
  .toggle a {
    font-size: 20px;
  }
  .button.secondary {
    border-bottom: 1px #444 solid;
  }
  /* Mobile menu */
  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .toggle {
    order: 1;
  }
  .item.button {
    order: 2;
  }
  .item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
  }
  .item.active {
    display: block;
  }

  @media all and(min-width: 400px) {
    .toggle {
        align-items: center;
        display: flex;
        height: 100%; 
        justify-content: center;
        opacity: 1;
        transition: opacity .3s;
        width: 100%;
        background-color: black;
    }
  }
  /* Tablet menu */
  @media all and (min-width: 600px) {
    .menu {
      justify-content: center;
    }
    .logo {
      flex: 1;
    }
    .toggle {
      flex: 1;
      text-align: right;
    }
    .item.button {
      width: auto;
      order: 1;
      display: block;
    }
    .toggle {
      order: 2;
    }
    .button.secondary {
      border: 0;
    }
    .button a {
      padding: 7.5px 15px;
      background: black;
      border: 1px #006d6d solid;
    }
    .button.secondary a {
      background-color: black;
    }
    .button a:hover {
      text-decoration: none;
    }
    .button:not(.secondary) a:hover {
      background: #006d6d;
      border-color: #005959;
    }
    .button.secondary a:hover {
      color: #ddd;
    }
    .infoDiego {
      padding: 150px;
    }
    .yo {
      font-size: 25px;
    }
  }
  /* Desktop menu */
  @media all and (min-width: 992px) {
    .item {
      display: block;
      width: auto;
    }
    .toggle {
      display: none;
    }
    .logo {
      order: 0;
    }
    .item {
      order: 1;
    }
    .button {
      order: 2;
    }
    .menu li {
      padding: 15px 10px;
    }
    .menu li.button {
      padding-right: 0;
    }
    .infoDiego {
      width: 100%;
      padding: 200px 300px 200px 300px;
    }
    .yo {
      font-size: 25px;
    }
  }
  @media all and (max-width: 600px) {
    .yo {
        position: relative;
        padding: 10px 10px 10px 20px;
        line-height : 35px;
        font-size: 35px;
        margin: 350px 0px -5px 300px;
    }
    .infoDiego {
      padding: 40px;
      justify-content: center;
    }
    .yo {
      margin: 350px 0px -5px 0px;
      font-size: 20px;
    }
  }
  @media all and (min-width: 1200px) {
    .yo {
        position: relative;
        padding: 10px 10px 10px 20px;
        line-height : 35px;
        font-size: 25px;
        margin: 350px 0px -5px 200px;
    }
  }