* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
body {
    background-image: url("/images/66139.jpg");
    background-attachment: fixed;
    margin: 0;
    margin-bottom: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.pagPrincipal {
  color: white;
  position: relative;
}

 /* PÁGINA SOBRE MI */ 

.flex-row-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-row-item {
  flex: 1 1 10%;
  margin-top: 350px;
}

.proyectosPage {
  position: fixed;
}

.proyectosPage:link, proyectosPage:visited {
  text-decoration: none;
}

.cvPage {
  position: fixed;
right: 0;
}
#botonForm {
  background-color: black;
  border: black;
}

.personalInfo {
  display: flex;
  flex-wrap: wrap;
  color: black;
  background-color: rgba(252, 252, 252, 0.7);
  margin-top: 550px;
}

.infoDiego {
  color: black;
  flex:  1 1 50%;
}

.navbar {
    list-style: none;
    margin-left:280px;
    margin-right:280px;
}

.yo {
    position: absolute;
    padding: 10px 10px 10px 20px;
    line-height : 35px;
    font-size: 35px;
    margin: 350px 0px -5px 200px;
    flex: 1 1 60%;
}

.nombre {
    font-size: 1.7em;
}

/*  PÁGINA PROYECTOS*/




/*ESTOS SON ELS ESTILS DEL POP UP */
.popup1, .popup2, .popup3, .popup4 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-contenido1, .popup-contenido2, .popup-contenido3, .popup-contenido4  {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
} 


.proyectosInfo {
  display: flex;
  flex-wrap: wrap;
  color: black;
  background-color: rgba(252, 252, 252, 0.7);
  margin-top: 550px;
}

.fotosProyectos {
  display: flex;
  width: 600px;
  height: 430px;
  margin: 200px 0px 200px 0px;
}

img {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: .8;
  transition: .5s ease;
}

img:hover {
  cursor: crosshair;
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
}





footer {
    background-color: black;
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
}


  nav {
    padding: 5px 20px;
  }
  ul {
    list-style-type: none;
  }
  a {
    color: white;
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
  .logo a:hover {
    text-decoration: none;
  }
  .menu li {
    font-size: 20px;
    padding: 15px 5px;
    white-space: nowrap;
  }
  .logo a,
  .toggle a {
    font-size: 20px;
  }
  .button.secondary {
    border-bottom: 1px #444 solid;
  }
  /* Mobile menu */
  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .toggle {
    order: 1;
  }
  .item.button {
    order: 2;
  }
  .item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
  }
  .item.active {
    display: block;
  }

  @media all and(min-width: 400px) {
    .toggle {
        align-items: center;
        display: flex;
        height: 100%; 
        justify-content: center;
        opacity: 1;
        transition: opacity .3s;
        width: 100%;
        background-color: black;
    }
  }
  /* Tablet menu */
  @media all and (min-width: 600px) {
    .menu {
      justify-content: center;
    }
    .logo {
      flex: 1;
    }
    .toggle {
      flex: 1;
      text-align: right;
    }
    .item.button {
      width: auto;
      order: 1;
      display: block;
    }
    .toggle {
      order: 2;
    }
    .button.secondary {
      border: 0;
    }
    .button a {
      padding: 7.5px 15px;
      background: black;
      border: 1px #006d6d solid;
    }
    .button.secondary a {
      background-color: black;
    }
    .button a:hover {
      text-decoration: none;
    }
    .button:not(.secondary) a:hover {
      background: #006d6d;
      border-color: #005959;
    }
    .button.secondary a:hover {
      color: #ddd;
    }
    .infoDiego {
      padding: 150px;
    }
    .yo {
      font-size: 25px;
    }
  }
  /* Desktop menu */
  @media all and (min-width: 992px) {
    .item {
      display: block;
      width: auto;
    }
    .toggle {
      display: none;
    }
    .logo {
      order: 0;
    }
    .item {
      order: 1;
    }
    .button {
      order: 2;
    }
    .menu li {
      padding: 15px 10px;
    }
    .menu li.button {
      padding-right: 0;
    }
    .infoDiego {
      width: 100%;
      padding: 200px 300px 200px 300px;
    }
    .yo {
      font-size: 25px;
    }
  }
  @media all and (max-width: 600px) {
    .yo {
        position: relative;
        padding: 10px 10px 10px 20px;
        line-height : 35px;
        font-size: 35px;
        margin: 350px 0px -5px 300px;
    }
    .infoDiego {
      padding: 40px;
      justify-content: center;
    }
    .yo {
      margin: 350px 0px -5px 0px;
      font-size: 20px;
    }
  }
  @media all and (min-width: 1200px) {
    .yo {
        position: relative;
        padding: 10px 10px 10px 20px;
        line-height : 35px;
        font-size: 25px;
        margin: 350px 0px -5px 200px;
    }
    .tituloProyectos {
      position: relative;
      padding: 10px 10px 10px 20px;
      line-height : 35px;
      font-size: 25px;
      margin-top: 350px
    }
  }